<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Admin Dashboard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Main navigation links -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav"> <!-- Added 'justify-content-end' -->
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Students</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/interview/getinterview">Interviews</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/report/download">Download Report</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-danger" href="/">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
